In [1]:
import numpy as np

In [2]:
import pandas as pd

from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

# 클립보드에 복사하기

True

In [5]:
# 클립보드 데이타 불러오기

nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [8]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: Rank, dtype: int64

In [10]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
5    1925
6    1960
7    1961
Name: First NFL Season, dtype: int64

In [12]:
DataFrame(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868
5       New York Giants              1925       1,289
6        Denver Broncos              1960         868
7     Minnesota Vikings              1961         854

In [13]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North

In [14]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [15]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North

In [18]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North

In [19]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [20]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,Levi's Stadium
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,Levi's Stadium

In [22]:
nfl_frame['Stadium'] = np.arange(8)

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,6
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,7

In [25]:
stadiums = Series(["Levi's stadium", "AT&T stadium"], index = [4,0])
stadiums

4    Levi's stadium
0      AT&T stadium
dtype: object

In [26]:
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,NaN
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NaN
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NaN

In [27]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North

In [28]:
# Dictionary도 dataframe으로 전환 가능

data = {'City':['SF','LA','NYC'],'Population':[837000, 388000, 8400000]}

In [29]:
city_frame = DataFrame(data)

In [30]:
city_frame

  City  Population
0   SF      837000
1   LA      388000
2  NYC     8400000

In [33]:
website = "http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html"
webbrowser.open(website)

True