In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)

In [8]:
ranger

range(0, 15)

In [9]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  1.208062  0.110323 -0.961755  1.610352 -0.973180
B  0.016762 -0.915674 -0.586001 -0.495823 -0.608222
D  0.097726  1.085375  1.603774  1.163209  0.264910
E -0.139238  0.194146  0.668866  0.920104 -0.680003
F  0.054928  1.924546  1.685040 -0.039730  0.448977

In [11]:
# C를 reindex로 넣는 과정

dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.208062  0.110323 -0.961755  1.610352 -0.973180
B  0.016762 -0.915674 -0.586001 -0.495823 -0.608222
C       NaN       NaN       NaN       NaN       NaN
D  0.097726  1.085375  1.603774  1.163209  0.264910
E -0.139238  0.194146  0.668866  0.920104 -0.680003
F  0.054928  1.924546  1.685040 -0.039730  0.448977

In [12]:
# reindex로 열 추가하는 예시

new_columns = ['col1', 'col2', 'col3','col4','col5','col6']

In [13]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.208062  0.110323 -0.961755  1.610352 -0.973180   NaN
B  0.016762 -0.915674 -0.586001 -0.495823 -0.608222   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.097726  1.085375  1.603774  1.163209  0.264910   NaN
E -0.139238  0.194146  0.668866  0.920104 -0.680003   NaN
F  0.054928  1.924546  1.685040 -0.039730  0.448977   NaN

In [15]:
# 위 두 케이스를 한번에 하는 ix

dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A  1.208062  0.110323 -0.961755  1.610352 -0.973180   NaN
B  0.016762 -0.915674 -0.586001 -0.495823 -0.608222   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.097726  1.085375  1.603774  1.163209  0.264910   NaN
E -0.139238  0.194146  0.668866  0.920104 -0.680003   NaN
F  0.054928  1.924546  1.685040 -0.039730  0.448977   NaN