In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
dframe = DataFrame({'key1':['A']*2 + ['B']*3,
                   'key2':[2,2,2,3,3]})
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [6]:
# duplicate 되는 순간부터 true가 됨

dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [8]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [9]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [10]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [12]:
dframe.drop_duplicates(['key1'], take_last = True)

C:\Users\yang\Anaconda3\envs\python_2_7\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  """Entry point for launching an IPython kernel.

  key1  key2
1    A     2
4    B     3