In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2':['alpha', 'beta', 'alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.642543 -0.450928  X  alpha
1  0.185118 -0.615364  X   beta
2  1.118785 -1.816960  Y  alpha
3  0.570724  0.267504  Y   beta
4  0.187319 -0.214177  Z  alpha

In [9]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [10]:
group1.mean()

k1
X    0.413830
Y    0.844754
Z    0.187319
Name: dataset1, dtype: float64

In [11]:
cities = np.array(['NY','LA','LA','NY','NY'])

month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [12]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.185118
    JAN    1.118785
NY  FEB    0.570724
    JAN    0.414931
Name: dataset1, dtype: float64

In [13]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.413830 -0.533146
Y   0.844754 -0.774728
Z   0.187319 -0.214177

In [14]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.642543 -0.450928
   beta   0.185118 -0.615364
Y  alpha  1.118785 -1.816960
   beta   0.570724  0.267504
Z  alpha  0.187319 -0.214177

In [15]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [16]:
for  name, group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '/n'

This is the X group
   dataset1  dataset2 k1     k2
0  0.642543 -0.450928  X  alpha
1  0.185118 -0.615364  X   beta
/n
This is the Y group
   dataset1  dataset2 k1     k2
2  1.118785 -1.816960  Y  alpha
3  0.570724  0.267504  Y   beta
/n
This is the Z group
   dataset1  dataset2 k1     k2
4  0.187319 -0.214177  Z  alpha
/n

In [17]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0  0.642543 -0.450928  X  alpha


key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1  0.185118 -0.615364  X  beta


key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  1.118785  -1.81696  Y  alpha


key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.570724  0.267504  Y  beta


key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.187319 -0.214177  Z  alpha

In [19]:
group_dict = dict(list(dframe.groupby('k1')))

In [20]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.642543 -0.450928  X  alpha
1  0.185118 -0.615364  X   beta

In [21]:
group_dict_axis = dict(list(dframe.groupby(dframe.dtypes,axis =1)))

In [22]:
group_dict_axis

{dtype('float64'):    dataset1  dataset2
 0  0.642543 -0.450928
 1  0.185118 -0.615364
 2  1.118785 -1.816960
 3  0.570724  0.267504
 4  0.187319 -0.214177, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [24]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.450928
   beta  -0.615364
Y  alpha -1.816960
   beta   0.267504
Z  alpha -0.214177